@import "src/assets/styles/variables";

%header-container-selfSize {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;
}
.header{
    font-family: "Source Code", Arial, serif;
    position: relative;
    font-weight: 600;
    max-width: $pcMediumMaxWidth;
    margin: 0 auto;
    padding: 5px 16px;
    display: flex;
    align-items: center;
    height: $pcHeaderSize;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    &__logo{
        @extend %header-container-selfSize;
    }
    &__content{
        @extend %header-container-selfSize;
        flex: 1 1 auto;
        column-gap: 18px;
        text-decoration: none;
        a:visited{
            color: #2c5ede;
        }
        a:active{
            color: #6b8fec;
        }
    }
    &__profile{
        @extend %header-container-selfSize;
        padding: 0;
        border-radius: 50px;
        overflow: hidden;
        width: 40px;
        height: 40px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        &:hover{
            cursor: pointer;
        }
    }
    &__menu{
        font-family: SansSerif, serif;
        position: absolute;
        right: 0;
        top:4rem;
    }
}
.menu{
    max-width: 250px;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    flex-direction: column;
    row-gap: 10px;
    display: none;
    color: rgb(88, 99, 128);
    &__profile{
        padding: 4px 16px;
        overflow: hidden;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 10px;
        font-size: 12px;
        box-shadow: 0 1px 1px rgba(255,255,255,0.5);
    }
    &__avatar{
        border-radius: 50px;
        overflow: hidden;
        width: 40px;
        height: 40px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__info{
        padding: 2px;
        max-width: 160px;
        overflow: hidden;
        p:first-child{
            font-weight: 700;
            line-height: 1.2rem;
        }

    }
    &__item{
        display: flex;
        font-size: 1rem;
        column-gap: 16px;
        padding: 4px 16px;
        align-items: center;
        font-weight: 600;
        img{
            width: 25px;
            height: 25px;
        }
        &:hover{
            background-color: rgba(0,0,100,0.2);
            cursor: pointer;
        }
    }
}
.active{
    display: flex;
}
